name: px_responsive
description: A powerful tri-tier responsive design system for Flutter. Automatically scales UI elements across mobile, tablet, and desktop based on your Figma/XD design specifications.
version: 0.0.3
homepage: https://github.com/IbrahimElmourchidi/px_responsive
repository: https://github.com/IbrahimElmourchidi/px_responsive
issue_tracker: https://github.com/IbrahimElmourchidi/px_responsive/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

platforms:
  android:
  ios:
  web:
